{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.genre, {
            label: 'Genre',
            name:'genre'
        }) }}
        {{ form_row(registrationForm.name, {
            label: 'Nom',
            name:'name'
        }) }}
        {{ form_row(registrationForm.prenom, {
            label: 'Prenom',
            name:'prenom'
        }) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.age, {
            label: 'Age',
            name:'age'
        }) }}
        {{ form_row(registrationForm.profession, {
            label: 'Profession',
            name:'profession'
        }) }}
<<<<<<< HEAD
    {{ form_row(registrationForm.ville, {
        label: 'Ville',
        name:'ville'
    }) }}
=======
        {{ form_row(registrationForm.ville, {
            label: 'Ville',
            name:'ville'
        }) }}
>>>>>>> 74c5c383e67f35c2d6044d2ed311b15ebebcde35

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
